<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Lezione_5/src/es_overloading_list/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="es_overloading_list.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Lezione_5"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lezione_5"/>
</launchConfiguration>
